.quoter {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 350px;
  box-shadow: 0 0 10px gold;
  .image {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url("/assets/img/jason-4.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
  }
  .quote-content {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 50%;
    overflow: hidden;
    .quote {
      position: absolute;
      padding-bottom: 50px;
      width: 95%;
      bottom: 30%;
      right: 10px;
      &__text {
        text-align: center;
        font-size: 22px;
        font-family: 'Sedgwick Ave', cursive;
      }
      &__author {
        text-align: right;
        &--fake {
          font-size: 10px;
        }
      }
      &__refresh {
        text-align: center;
        position: absolute;
        background: #fbeea4;
        bottom: 0;
        left: 10%;
        .button {
          border: none;
          position: relative;
          font-size: 15px;
          font-weight: bold;
          color: gold;
          background-color: #f8faf9;
          padding: 12px 28px;
          &:focus {
            outline: none;
          }
          &:active {
            transform: scale(0.97, 0.87);
          }
        }
      }
    }
    .share {
      position: absolute;
      float: right;
      bottom: 20px;
      right: 20px;

      &__label {
      margin-bottom: 5px;
      text-decoration: underline;
      font-size: 12px;
      } 

      &__icon {
        text-decoration: none;
        margin-right: 15px;
        width: 40px;
        text-align: center;
        font-size: 30px;
        padding: 5px;
        border: 2px solid gold;
        border-radius: 10px;
        color: gold;
      }
    }
  }
} 