html,body {
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
}

.main {
  text-align: justify;
}

section {
  margin: 20px 0;
}

.contacts {
  &__list {
    list-style: none;
  }

  &__item {
    position: relative;
    font-size: 22px;
    margin-bottom: 10px;

    .fa {
      position: absolute;
      font-size: 30px;
      left: -35px;
    }
  }
}

.filmography li {
  margin: 15px 0;
}

@media (min-width: 768px) {
  .v-divider {
    border-right: 1px solid gray;
  }
}


